nav {
  align-items: center;
  background-color: rgb(73, 79, 82);
  color: white;
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
}

.nav-links {
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: center;
  width: 50px;
}
