body {
    background-color: #2EB887;
    color: #434D66 !important;
    font-family: -apple-system, BlinkMacSystemFont, "signoria", "Signoria", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.center-text {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 23px !important;
    font-weight: 200;
    letter-spacing: 0.02em !important;
    margin-bottom: 100px;
}

.center-title {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 70px !important;
    font-weight: 200;
    letter-spacing: 0.06em !important;
    margin-bottom: 20px;
    margin-top: 100px;
}

.dashboard-center-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 2.3em;
  font-weight: 300;
  letter-spacing: 0.06em !important;
  margin-bottom: 20px;
  margin-left: 600px;
}

.dashboard-requests-center-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 2.3em;
  font-weight: 300;
  letter-spacing: 0.06em !important;
  margin-bottom: 20px;
  margin-left: 40px;
}

.form-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.form-div-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form-names-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.homepage-all-container {
  display: flex;
  flex-direction: column;
}

.homepage-body-container {
  display: flex;
  flex-direction: column;
}

.homepage-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 260px;
  width: 100%;
}


input {
  color: white;
  /* border-radius: 2px; */
  /* border: none !important; */
  border: 1px solid #434D66;
  font-size: 22px !important;
  font-weight: 500;
  background-color: #2EB887;
  /* border-style: solid !important; */
  box-shadow: none !important;
  height: 40px;
}

input:focus {
  outline: none;
  box-shadow: outset 0px 0px 0px 0px white;
  border: 1px solid white !important;
}

input:hover {
  outline: none;
  box-shadow: outset 0px 0px 0px 0px white;
  border: 1px solid white !important;
}

.landing-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo-container {
  font-size: 25px !important;
  font-weight: 300;
  margin-top:10px;
}

.long-input {
  width: 45%;
}


nav {
  align-items: center;
  background-color: rgb(73, 79, 82);
  color: white;
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
}

.nav-links {
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: center;
  width: 50px;
}

.landing-body-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.navbar-logo {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: baseline;
  font-size: 1.7em;
  font-weight: 300;
  letter-spacing: 0.04em !important;
}

.navbar-main-container {
  /* background-color: #c13f21; */
  background-color: #584b4f;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: space-between;
  height: 35px;
  width: 100%;
}

.navbar-options-container {
  align-items: flex-end;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: row;
  font-size: 1em;
  font-weight: 400;
  justify-content: space-between;
  letter-spacing: 0.04em !important;
  width: 14%;
}

.options-container {
    margin-top: 10px;
}
.register-button {
  background-color: #2EB887;
  border: 1px solid #434D66;
  color: #434D66;
  font-size: 18px !important;
  font-weight: 200 !important;
  height: 35px;
  margin-top: 25px;
  /* margin-left: 300px !important; */
  width: 100px;
}

.register-button:hover {
  border-color: white;
  box-shadow: outset 0px 0px 0px 0px white;
}

.register-button:focus {
  box-shadow: outset 0px 0px 0px 0px white;
  color: black;
  outline: none;
}

.register-form {
  /* border: 1px solid pink; */
  display: flex;
  flex-grow: 4;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.register-form-container {
  align-items: center;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 100%;
}

.searchbar-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.section-container {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  height: 250px;
  margin-bottom: 40px;
  width: 100%;

}

.filter {
  border: solid 2px #2EB887 !important;
  color: #2EB887 !important;
  margin: 10px;
}

.filter:hover {
  color: white !important;
  transform: scale(1.1);
}

.remove-filter {
  background-color: white;
  border: none;
  margin: 2px;
}

.result-container {
  margin: 20px;
}