body {
    background-color: #2EB887;
    color: #434D66;
    font-family: -apple-system, BlinkMacSystemFont, "signoria", "Signoria", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center-text {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 0.7em;
    font-weight: 300;
    letter-spacing: 0.02em !important;
    margin-bottom: 100px;
}

.center-title {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 2.3em;
    font-weight: 300;
    letter-spacing: 0.06em !important;
    margin-bottom: 20px;
    margin-top: 200px;
}

.form-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.form-div-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form-names-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

input {
  color: white;
  border-radius: 2px;
  font-size: 22px !important;
  font-weight: 500;
  background-color: #434D66;
  border-style: solid !important;
  box-shadow: none !important;
  height: 30px;
}

input:focus {
  outline: none;
  box-shadow: outset 0px 0px 0px 0px white;
  border: 1px solid white;
}

input:hover {
  outline: none;
  box-shadow: outset 0px 0px 0px 0px white;
  border: 1px solid white;
}

.landing-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav {
  align-items: center;
  background-color: rgb(73, 79, 82);
  color: white;
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
}

.nav-links {
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: center;
  width: 50px;
}

.landing-body-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbar-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.navbar-logo {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: baseline;
  font-size: 1.7em;
  font-weight: 300;
  letter-spacing: 0.04em !important;
}

.navbar-main-container {
  /* background-color: #c13f21; */
  background-color: #584b4f;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: space-between;
  height: 35px;
  width: 100%;
}

.navbar-options-container {
  align-items: flex-end;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: row;
  font-size: 1em;
  font-weight: 400;
  justify-content: space-between;
  letter-spacing: 0.04em !important;
  width: 14%;
}

.register-form {
    /* border: 1px solid pink; */
    display: flex;
    flex-grow: 4;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.register-form-container {
  align-items: center;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 100%;

}
